body{
	background-color: #ccc;
	font-size: 12px;
	margin:0px;
	font-family: arial;
	overflow:hidden;
	background-image: url(../images/background.jpg);
	font-family: 'Lato', sans-serif;
	opacity:0;
}
h3{font-size: 13px}
h4{margin:3px;font-size: 12px;}
canvas{
	position:absolute;
	top:50px;
	left: 250px;
}
#controls{
	position:absolute;
	top: 50px; left: 0px;
	z-index: 10;
	width: 250px;
	background-color:#f5f5f5;
	color: #666;
	padding: 5px;
	box-shadow: 0px 0px 40px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 40px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0px 0px 40px rgba(0,0,0,0.5);
	height: 550px;
}
#logo{
	position:absolute;
	left:10px;
	top:5px;
}
table{
	border: 1px solid #ddd;
	color:#fff;
	width:100%
}
#instructions{
	position:absolute;
	right:0px;
	bottom:0px;
	z-index: 10;
}
textarea{
	background-color:rgba(255,255,255,0.7);
	width: 180px; height: 350px;
	border: 1px solid #aaa;
	color:#888;
	font-size: 11px;
}

#sliders .ui-tabs-nav{
	-webkit-transform-origin: 0% 0%;
	x-webkit-transform: rotate(-90deg) translate(-500px); 
	-webkit-transform: rotate(90deg) translate(0px,-250px); 
	-moz-transform: rotate(90deg) translate(235px,20px);
	width: 500px;
	position:absolute;
	left:0px;
}
#sliders{
	background:none;
	padding-right: 25px;
	padding-left: 0px;
	border: 0px;
	margin:0px;
}

#header{
	height: 50px;width: 100%;background-color:#000;z-index:100;position:absolute;
	background-color: #e5e5e5;
	border-bottom: 1px solid #aaa;
}
#header h1{
	margin:0px;
	padding: 0px;
	font-size:30px;
	font-family: 'Lato', sans-serif;
	color:#51c9af;
	font-weight: 400;
	padding-top: 7px;
	padding-left: 57px;
}
#header h1 small{
	font-size: 18px;
}

a{
	color:#235a4e;
	text-decoration: none;
}
a:hover{
	color:#51c9af;
}

h2{
	font-family: 'Lato', sans-serif;
	font-wise: 18px;
	line-height: 18px;
	margin: 0px;
	padding: 0px;
	padding-bottom: 10px;
	padding-left: 5px;
	color:#51c9af;
}
#sliders .ui-tabs-panel{padding-left: 10px;}

#presetslist{
    margin:0;padding:0;
}
#presetslist li{
    margin: 1px;   
}
#headerinfo h2{
    margin:0px;
    padding:0px;
    font-size: 14px;
    color: #555;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4),-1px -1px 0px rgba(0, 0, 0, 0.4);
}
#headerinfo{ 
    position:absolute; right: 10px; top: 10px;z-index: 100;
    width: 500px;text-align:right}
#headerinfo a{color: #000055;text-decoration:none}
#headerinfo a:hover{color: #333388}

#treeStats{
	background-color :#ccc;
}

#presetslist{
	list-style-type:none;
	margin: 0px;
	padding: 0px;
}
#presetslist li{
	display: inline;
}
.input{
padding-bottom: 10px;
}
#about,#exportCollada, #exportWavefront{
	display: none;
}
#about{
		width: 800px;
}

#exportlinks,#toplinks{
	position: absolute;
	right: 190px;
	top: 10px;
	border: 1px solid #ccc;
	background-color: #eee;
}
#toplinks{
	right: 10px;
	top: 10px;
}

#exportlinks h2,#exportlinks a,#toplinks a{
	display: inline-block;
	font-size: 14px;
	padding: 5px 10px;
}
#exportlinks h2{
	background-color:#fff;
}
#exportlinks a{
	border-left: 1px solid #ddd
}
#exportlinks a:hover{
	background-color:#fff;
}
#share{
	position: absolute;
	right: 20px;
	bottom: 20px;
	background-color: #E5E5E5;
	width: 480px;
	padding: 2px 5px;
	border: 1px solid #ccc;
}
#share h2{
	display: inline-block;
	padding-right: 10px;
	margin: 0px;
	margin-top: 5px;
}
#directlink{
	background-color: #f5f5f5;
	display: inline-block;
	padding: 5px 10px;
	color: #555;
	margin: 0px;
	margin-top: 5px;
}
#directlink input{
	border: 0px;
	background-color: #f5f5f5;
	width: 260px;
	color :#888;
	margin: 0px;
}
#social{
	padding-top: 5px;
	display: inline-block;
	float:right;
}
#social a{
	display: inline-block;
}


@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('fonts/latoreg.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url('fonts/latolight.woff') format('woff');
}

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local('Oxygen'), url('fonts/oxygen') format('woff');
}

#generating{
	position: absolute;
	z-index: 100;
	font-size: 24px;
	color: #aaa;
	left: 300px;
	top: 80px;
	display: none;
	text-shadow: 0px 1px 1px #ccc;
}